fastapi[all]
uvicorn
firebase-admin
python-dotenv
pydantic
pydantic-settings
email-validator 

# Add these for ML processing:
tensorflow>=2.13.0
opencv-python>=4.8.0
pillow>=10.0.0
numpy>=1.24.0
google.generativeai

##if above dosent work, please try these

# fastapi-cli==0.0.8
# fastapi-cloud-cli==0.1.4
# fastapi==0.116.1
# firebase-admin==6.2.0
# numpy==2.1.3
# tensorflow-io-gcs-filesystem==0.31.0
# tensorflow==2.19.0
# torch==2.5.1+cu121
# torchaudio==2.5.1+cu121
# torchvision==0.20.1+cu121